@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: variables.$font-family

body
    width: 100%
    height: 100vh
    background: variables.$background no-repeat center
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .main-container
        width: 600px
        margin: 20px 0px
        background-color: variables.$cor-secundaria
        padding: 11px
        border-radius: 5px

        & form
            @include mixins.flex-container-column
            
            label 
                font-size: 1.2em

            input
                width: 100%
                margin: 3px
                outline: none
                padding: 3px
                font-size: 1.1em 

            input[type="submit"]
                border: none
                background-color: variables.$cor-primaria
                color: variables.$cor-secundaria
                padding: 10px
                border-radius: 4px
                font-size: 2em
                font-weight: bold
                cursor: pointer

.todo-container
    @include mixins.flex-container-column
    margin-top: 10px
    
    &-title
        font-size: 1.7em

    &-content
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center

    &-buttons
        @include mixins.flex-container-row-buttons
        
        
        button
            border: none
            cursor: pointer
            font-weight: bold
            font-size: 1rem
            padding: 0px 4px
            border-radius: 4px
            transition: .3s

.done, .notDone
    color: variables.$cor-primaria


.done:hover, .notDone:hover
    background-color: variables.$cor-primaria
    color: variables.$cor-secundaria 


.card-todo
    width: 100%
    @include mixins.flex-container-row
    padding: 3px
    border-radius: 3px
    margin: 4px

.container-button
    @include mixins.flex-container-row-buttons

    button 
        width: 30px
        border: none
        font-size: 1em
        cursor: pointer
        transition: .3s
        background-color: transparent
        
        
        &:hover
           background-color: variables.$cor-primaria
           color: #fff

        i
            pointer-events: none


.completed
    background-color: variables.$cor-terciaria

.onGoing
    background-color: variables.$cor-secundaria

.hide
    display: none

.selecionado
    background-color: variables.$cor-primaria
    color: variables.$cor-secundaria



